// Here be colors

$color-darkest: #000000;
$color-lightest: #ffffff;

// Semi primary european
$my-favourite-color: #4A412A; // Goddamn Europeans
// Semi secondary european
$my-favorite-colour: #4A412A;
// Full european
$my-favourite-colour: #4A412A;
// Null european
$my-favorite-color: #4A412A; // Goddamn Americans

// https://upload.wikimedia.org/wikipedia/en/a/a8/The_Dress_%28viral_phenomenon%29.png
// blue or yellow???
$blue: #7A6B41;
$yellow: #7584AE;
